<!DOCTYPE html>
<html>
<head>
  <title>Dexie Todo App</title>
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#000000">
</head>

<body>
  <h1>My Todo App</h1>

  <!-- Input -->
  <input type="text" id="todoInput" placeholder="Enter todo">
  <button onclick="addTodo()">Add</button>

  <hr>

  <!-- List -->
  <ul id="todoList"></ul>

  <!-- Dexie library -->
  <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>

  <!-- Our JS file -->
  <!-- <script src="app.js"></script> -->
  <script src="/static/app.js"></script>
</body>
</html>